---
import * as fs from "fs";
import * as path from "path"
import { __dirname } from "../__dirname";

const { pkg, slug } = Astro.props;
const content = fs.readFileSync(path.join(__dirname, "content", pkg, slug));
---

<main>
	{content}
</main>